* {
    font-family: georgia;
}

body {
    background: url("../img/puppy.jpg");
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 0;
    outline: solid 2px #590455;
    margin-bottom: 10px;
}

.form-label {
    position: absolute;
    left: 1rem;
    background: transparent;
    padding: 0 .5rem;
}

.form-box {
    position: relative;
    padding: 5px;
}

.form-input:focus {
    outline: solid 2px #590455;
    transform: scale3d(1.3, 2.4, 0.4);
}

.form-input:focus+.form-label {
    transform: translateY (-2.3rem);
    transition: .5s;
    font-size: 3px;
    color: #4285f4;
    transform: scale3d(2.5, 1.2, 0.3);
}

.form .form-label:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    border-bottom: 4px solid #2ecece;
    transform: translateX(-100%);
    transition: all 0.3ease;
}

button {
    padding: 8px 25px;
    color: black;
    letter-spacing: 3px;
    font-size: 10px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 4px;
    background: rgb(34, 5, 38);
    color: rgb(255, 255, 255);
    width: 120px;
    height: 27px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    border-bottom: 4px solid rgb(153, 140, 241);
}

button:hover {
    background: #a945c7;
    box-shadow: 0 0 10px #4285f4, 0 0 40px #a945c7, 0 0 80px #4285f4;
    transition-delay: 0.1s;
}

h3 {
    font-family: georgia;
    font-family: 25px;
}

h1 {
    display: inline;
    position: relative;
    font: 50px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color: rgba(5, 5, 65, 0.5);
}

a {
    font-size: large;
    border-radius: 4px;
}