@import url(https://fonts.googleapis.com/css?family=Varela+Round);
* {
    font-family: georgia;
}

body {
    background: url("../img/dog1.jpeg");
    align-items: center;
}

a {
    font-variant: small-caps;
    color: rgb(40, 1, 32);
    font-size: 18px;
    border: 3px solid purple;
    background-color: rgb(240, 239, 216);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid purple;
    background-color: rgb(240, 239, 216);
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 10%;
}

thead th:nth-child(4) {
    width: 10%;
}

th,
td {
    padding: 20px;
}

.button {
    padding: 8px 25px;
    color: black;
    letter-spacing: 3px;
    font-size: 10px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 4px;
    background: rgb(34, 5, 38);
    color: rgb(255, 255, 255);
    width: 120px;
    height: 27px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    border-bottom: 4px solid rgb(153, 140, 241);
    margin-bottom: 5px;
    margin-left: 11px;
}

.button:hover {
    background: #a945c7;
    box-shadow: 0 0 10px #4285f4, 0 0 40px #a945c7, 0 0 80px #4285f4;
    transition-delay: 0.1s;
}

h1 {
    color: hsla(0, 0%, 0%, .9);
    font: normal 40px Varela Round, sans-serif;
    height: 40px;
    left: 0;
    letter-spacing: 5px;
    margin: -80px 0 0 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 100%;
    width: 100%;
    animation: move linear 2000ms infinite;
    font-size: 8px;
}

@keyframes move {
    0% {
        text-shadow: 4px -4px 0 rgb(61, 3, 45), 3px -3px 0 rgb(65, 4, 60), 2px -2px 0 rgb(48, 6, 48), 1px -1px 0 rgb(69, 9, 64), -4px 4px 0 hsla(180, 100%, 50%, 1), -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1);
    }
    25% {
        text-shadow: -4px -4px 0 rgb(4, 5, 5), -3px -3px 0 rgb(17, 18, 18), -2px -2px 0 rgb(21, 23, 23), -1px -1px 0 rgb(53, 60, 60), 4px 4px 0 rgb(72, 5, 62), 3px 3px 0 rgb(72, 5, 78), 2px 2px 0 rgb(48, 7, 52), 1px 1px 0 rgb(48, 5, 55);
    }
    50% {
        text-shadow: -4px 4px 0 hsla(0, 100%, 50%, 1), -3px 3px 0 hsla(0, 100%, 50%, 1), -2px 2px 0 rgb(53, 4, 55), -1px 1px 0 rgb(49, 3, 55), 4px -4px 0 hsla(180, 100%, 50%, 1), 3px -3px 0 hsla(180, 100%, 50%, 1), 2px -2px 0 hsla(180, 100%, 50%, 1), 1px -1px 0 hsla(180, 100%, 50%, 1);
    }
    75% {
        text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1), 3px 3px 0 rgb(53, 60, 60), 2px 2px 0 hsla(180, 100%, 50%, 1), 1px 1px 0 hsla(180, 100%, 50%, 1), -4px -4px 0 hsla(0, 100%, 50%, 1), -3px -3px 0 hsla(0, 100%, 50%, 1), -2px -2px 0 rgb(74, 10, 63), -1px -1px 0 rgb(59, 6, 62);
    }
    100% {
        text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1), 3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1), 1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1), -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1);
    }
}

h3 {
    color: hsla(0, 0%, 0%, .9);
    font: normal 40px Varela Round, sans-serif;
    height: 40px;
    left: 0;
    letter-spacing: 5px;
    margin: -80px 0 0 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 100%;
    width: 100%;
    animation: move linear 2000ms infinite;
    font-size: 8px;
    margin-bottom: 300px;
}

@keyframes move {
    0% {
        text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1), 3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1), 1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1), -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1);
    }
    25% {
        text-shadow: -4px -4px 0 hsla(180, 100%, 50%, 1), -3px -3px 0 hsla(180, 100%, 50%, 1), -2px -2px 0 hsla(180, 100%, 50%, 1), -1px -1px 0 hsla(180, 100%, 50%, 1), 4px 4px 0 hsla(0, 100%, 50%, 1), 3px 3px 0 hsla(0, 100%, 50%, 1), 2px 2px 0 hsla(0, 100%, 50%, 1), 1px 1px 0 hsla(0, 100%, 50%, 1);
    }
    50% {
        text-shadow: -4px 4px 0 hsla(0, 100%, 50%, 1), -3px 3px 0 hsla(0, 100%, 50%, 1), -2px 2px 0 hsla(0, 100%, 50%, 1), -1px 1px 0 hsla(0, 100%, 50%, 1), 4px -4px 0 hsla(180, 100%, 50%, 1), 3px -3px 0 hsla(180, 100%, 50%, 1), 2px -2px 0 hsla(180, 100%, 50%, 1), 1px -1px 0 hsla(180, 100%, 50%, 1);
    }
    75% {
        text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1), 3px 3px 0 hsla(180, 100%, 50%, 1), 2px 2px 0 hsla(180, 100%, 50%, 1), 1px 1px 0 hsla(180, 100%, 50%, 1), -4px -4px 0 hsla(0, 100%, 50%, 1), -3px -3px 0 hsla(0, 100%, 50%, 1), -2px -2px 0 hsla(0, 100%, 50%, 1), -1px -1px 0 hsla(0, 100%, 50%, 1);
    }
    100% {
        text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1), 3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1), 1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1), -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1), -1px 1px 0 hsla(180, 100%, 50%, 1);
    }
}

.form-input {
    display: block;
    margin-bottom: 5rem;
    margin-left: -10px;
    padding: .5rem 3rem;
    border-radius: 5px;
    border: 0;
    outline: solid 2px #590455;
    right: 25px;
}

form-label {
    position: absolute;
    top: 45px;
    left: 1rem;
    background: transparent;
    padding: 0 .5rem;
}

form-box {
    position: relative;
    padding: 10px;
}

input:focus {
    outline: solid 2px #590455;
    transform: scale3d(0.9, 1..7, 0.2);
}

input:focus+.form-label {
    transform: translateY (-2.3rem);
    transition: .5s;
    font-size: 3px;
    color: #4285f4;
    transform: scale3d(2.5, 1.2, 0.3);
}

form .form-label:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    border-bottom: 4px solid #2ecece;
    transform: translateX(-100%);
    transition: all 0.3ease;
}

input {
    display: block;
    padding: .3rem 2rem;
    border-radius: 5px;
    border: 0;
    outline: solid 2px #590455;
    right: 25px;
    margin-top: 25px;
}